
<div class="AppContent">
  <div id='drum-machine'>
    <img class='logo' src="/assets/icons8-freecodecamp.png" alt='logo' />
    <div class='drum-machine__content'>
      <div class='drum-machine__button'>
        <button class='drum-pad'  *ngFor=" let audioButton of !bankOn ?allAudioButton:allSecondAudioButton" (click)="playAudio(audioButton.btn)" id="{{audioButton.id}}">
        {{audioButton.btn}}
        <audio  src="{{audioButton.src}}" class='clip' id="{{audioButton.btn}}"></audio>
        </button>
      </div>
      <div class='drum-machine__options'>
        <div class='power__button'>
          Power
          <div  [ngClass]  ="{ 'pwb': !powerOn, 'pwbend': powerOn }" (click)="powerActive()">
          <div class='pwbtntoggle'></div>
        </div>
      </div>
      <p id='display'>{{display}}</p>
      <div class='volume'
           (click)="handleVolumeClick($event)">
<!--           onMouseDown={handleMouseDown}-->
<!--           onMouseUp={handleMouseUp}-->
<!--           onMouseMove={handleMouseMove}>-->
        <div class='volume_button'></div>
        <div class='volume_change' [style.left.%]="volume * 100"  ></div>
      </div>
      <div class='changeSound'>
        Bank
        <div [ngClass]="{'bank_button': !bankOn, 'bank_button-end' :bankOn}" (click)="bankActive()">
        <div class='bank_toggle'></div>
      </div>
    </div>
  </div>
</div>
</div>

</div>



